.main-page {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.clearfix {
    clear: both;
}
.container {
    width: 1064px;
    margin: 0 auto;
}
.mr68 {
    margin-right: 68px;
}
/* HEADER */
.header {
    padding-top: 49px;
    padding-bottom: 45px;
}
.logo {
    display: inline-flex;
}
.logo-link::before {
    content: url(../img/logo-milan.png);
    float: left;
    padding-top: 2px;
    padding-right: 15px;
    font-family: Verdana, sans-serif;
    display: block;
    transition: 1s;
}
.logo-link {
    color:  #fff;
    text-decoration: none;
    float: left;
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 29px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 1s;
}

.logo-link::after {
    content: "holydeys";
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.logo-link:hover::before {
    content: url(../img/logo-milan-hover.png);
    transition: 1s;
}
.logo-link:hover {
    color:  #f26522;
}
.contacts {
    position: relative;
    float: right;
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}
/*TOURS LIST */
.tour-list {
    width: 308px;
    float: left;
}
.tour-item {
    text-decoration: none;
    position: relative;

}
.tour-img {
    border: 2px solid #fff;
    box-shadow: 0px 17px 24px 0px #000000;
}

.tour-img-deteils {
    width: 312px;
    height: 63px;
    position: absolute;
    bottom: 3px;
    background-color: #f26522;
    color: #fff;
    opacity: 0;
    transition: 1s;
}
.tour-img-deteils:hover {
    opacity: 1;
}
.tour-price {
    display: inline-block;
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    padding-left: 21px;
}
.tour-price::before {
    content: "from";
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 7px;
}
.tour-deteils {
    display: inline-block;
    float: right;
    padding-top: 35px;
    padding-right: 18px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.tour-deteils::after {
    content: "\003E";
    padding-left: 15px;
}
.tour-img-name {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 58px;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
.tour-img-name:hover {
    color: #f26522;
}
/* FOOTER */
.footer {
    padding-bottom: 20px;
}
.footer-info {
    font-family: 'Verdana',sans-serif;
    color:  #ffffff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}
