body {
    font-family: Montserrat, sans-serif;
}
.container {
	width: 1160px;
    margin: 0 auto;
}
.content-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.btn {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    height: 61px;
    color:  #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: uppercase;
    box-shadow: 0px -5px 0px 0px #fff;
}
.section-name {
    color:  #4e4e4e;
    position: relative;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    padding-top: 82px;
}
.line::before {
    content: "";
    width: 76px;
    height: 1px;
    bottom: -37px;
    left: 542px;
    background-color: #18cfab;
    position: absolute;
    display: block;
    margin: 0 auto;
}
.line::after {
    content: "";
    width: 76px;
    height: 1px;
    left: 554px;
    bottom: -40px;
    background-color: #18cfab;
    position: absolute;
    display: block;
    margin: 0 auto;
}
.btn-load-more {
    display: inline-block;
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    border-radius: 4px;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 25px 22px;
    box-sizing: border-box;
}
.pr {
    padding-right: 16px;
}
.btn-load-more-container {
    align-self: center;
}
/* Block */
.header {
    background: url(../img/SectionsBackground/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar {
    background-color: rgba(73, 71, 63, 0.6);
    display: block;
    padding-top: 46px;
    padding-bottom: 46px;
}
.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.navbar-logo-img {
	background-color: #18cfab;
    position: relative;
    color:  #ffffff;
    font-size: 40px;
    font-weight: 700;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
.navbar-logo-img::before {
    content: "";
    position: absolute;
    top: -16px;
    left: 0;
    height: 0;
    width: 0;
    border-bottom: 16px solid #18cfab;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
}
.navbar-logo-img::after {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    height: 0;
    width: 0;
    border-top: 16px solid #18cfab;
    border-left: 32px solid transparent;
    border-right: 32px solid transparent;
}
.navbar-logo-text-ham {
    display: inline-block;
    color:  #18cfab;
    font-size: 32px;
    font-weight: 700;
}
.navbar-logo-text-the {
    color:  #ffffff;
    font-size: 32px;
    line-height: 31px;
    padding-left: 8px;
}
.navbar-right-col {
    display: flex;
}
.navbar-nav {
    margin-right: 17px;
}
.navbar-nav-item {
	display: inline-block;
    padding-right: 18px;
}
.navbar-nav-link {
    color:  #b8b8b8;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    margin-bottom: 52px;
}
.navbar-nav-link:hover {
    color:  #18cfab;
}
.navbar-nav-link:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -60px;
    background-color: #18cfab;
    position: absolute;
}
.search-color {
    color: #b8b8b8;
}
.navbar-searh-field {
    display: none;
}
.header-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.header-info {
    display: flex;
    flex-direction: column;
}
.header-about-us {
    text-align: center;
    display: block;
    color:  #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-about-us-part2 {
    color: #18cfab;
}
.header-slogan {
    display: block;
    color:  #ffffff;
    font-size: 79px;
    font-weight: 700;
    line-height: 74px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 45px;
}
.header-subslogan {
    color:  #d4d4d4;
    padding-top: 37px;
    font-size: 34px;
    font-weight: 300;
    text-align: center;
}
.header-buttons-container {
    align-self: center;
    margin-top: 142px;
    margin-bottom: 10px;
}
.btn-info {
    background-color: #18cfab;
    position: relative;
    padding: 26px 32px 26px 31px;
    margin-right: 28px;
}
.btn-modal {
    background-color: #00cbf6;
    position: relative;
    padding: 26px 25px 26px 26px;
}
.advantages {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.advantages-item-black {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.advantages-item {
    width: 25%;
    background-color: #18cfab;
    border-top: 7px solid #fff;
    padding-top: 99px;
}
.advantages-item-img {
    height: 97px;
    margin-bottom: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.advantages-item:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
}
.advantages-item:nth-child(even) {
    background-color: #18cfab;
    border-top: 7px solid #18cfab;
}
.advantages-item-name-green {
    color:  #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 120px;
    text-transform: uppercase;
}
.advantages-item-icon-green {
    color:  #18cfab;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 59px;
    padding-top: 99px;
    text-transform: uppercase;
}
.advantages-item-name {
    color:  #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 120px;
    text-transform: uppercase;
}
.advantages-item-icon {
    color:  #fff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 59px;
    padding-top: 99px;
    text-transform: uppercase;
}
.nav-bar-services {
    margin-top: 112px;
    align-self: center;
    margin-bottom: 24px;
}
.services-menu {
    background-color: #f8fcfe;
    display: flex;
}
.services-link {
    display: inline-flex;
    justify-content: center;
    color:  #717171;
    font-size: 16px;
    text-decoration: none;
    padding-top: 27px;
    padding-bottom: 30px;
    width: 193px;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.br {
    border-right: 1px solid #d2d2d2;
}
.bl {
    border-left: 1px solid #d2d2d2;
}
.services-link:hover {
    position: relative;
    background-color: #18cfab;
    color: #fff;
    cursor: pointer;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
}
.services-link:hover::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 83px;
    width: 0;
    height: 0;
    border-top: 13px solid #18cfab;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}
.services-link.active {
    position: relative;
    background-color: #18cfab;
    color: #fff;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
}
.services-link.active::after {
    content: "";
    position: absolute;
    bottom: -13px;
    left: 83px;
    width: 0;
    height: 0;
    border-top: 13px solid #18cfab;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
}
.services-description {
    display: none;
    justify-content: space-between;
    margin-top: 24px;
    margin-bottom: 101px;
}
.services-description.active {
    display: flex;
}
.services-img {
    position: relative;
    width: 193px;
    height: 139px;
    border: 1px solid #d2d2d2;
    margin-right: 20px;
}
.services-text {
    color:  #777777;
    font-size: 13.64px;
    font-weight: 300;
    line-height: 26px;
    text-align: justify;
}
.purchase-now {
    background-image: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(../img/SectionsBackground/section-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 126px;
    padding-bottom: 127px;
}
.section-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.purchase-now-name {
    color:  #18cfab;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.purchase-text {
    color:  #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 35px;
}
.purchase-button-container {
    align-self: center;
    margin-top: 80px;
}
.btn-purchase {
    background-color: #18cfab;
    position: relative;
    padding: 26px 25px 26px 26px;
}
.our-work {
    background-color: #f8fcfe;
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 100px;
}
.nav-bar-work {
    margin-top: 101px;
    margin-bottom: 71px;
    align-self: center;
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
}
.menu-work {
    display: flex;
}
.menu-work-item {
    display: inline-block;
}
.menu-work-link {
    display: inline-flex;
    text-decoration: none;
    padding: 24px 25px 20px 25px;
    color:  #717171;
    font-size: 14px;
    font-weight: 400;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    box-sizing: border-box;
}
.menu-work-link:hover {
    position: relative;
    color: #18cfab;
    cursor: pointer;
}
.menu-work-link:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: -2px;
    border-top: 2px solid #18cfab;
    background-color: #18cfab;
}
.menu-work-link.active {
    position: relative;
    color: #18cfab;
}
.menu-work-link.active::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: -2px;
    border-top: 2px solid #18cfab;
    background-color: #18cfab;
}
.work-galery {
    align-self: center;
    position: relative;
    margin-bottom: 71px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio-item {
    position: relative;
    width: 285px;
    height: 207px;
    background-color: #fff;
}
.portfolio-item:hover .portfolio-info {
    opacity: 1;
}
.portfolio-item:not(:hover) .portfolio-info {
    transition: 0.2s
}
.portfolio-img {
    position: relative;
    width: 285px;
    height: 207px;
}
.portfolio-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background-color: #fff;
    border-top: 3px solid #18cfab;
    opacity: 0;
    transition: 0.5s;
}
.icon-container {
    align-self: center;
}
.item-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
	padding: 15px;
    border: 1px solid #18cfab;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
    color: #18cfab;
}
.item-icon:hover {
    background-color: #18cfab;
    color: #fff;
}
.icon-ml {
    margin-left: 5px;
}
.portfolio-title {
    align-self: center;
    color:  #18cfab;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 24px;
}
.portfolio-category {
    align-self: center;
    color:  #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    line-height: 42px;
    padding-bottom: 35px;
}
.news-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 105px;
    margin-bottom: 132px;
}
.news-item {
    position: relative;
    width: 263px;
    margin-bottom: 114px;
}
.news-link {
    text-decoration: none;
}
.news-link:hover .news-header {
    color: #18cfab;
}
.news-link:hover .news-data {
    background-color: #18cfab;
}
.news-img {
    position: relative;
    width: 100%;
    height: 208px;
}
.news-data {
    position: absolute;
    width: 68px;
    height: 66px;
    background-color: #203e38;
    top: 0;
    right: 0;
    transition: 0.5s;
}
.news-day {
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}
.news-month {
    color:  #ffffff;
    font-size: 15.99px;
    font-weight: 400;
    text-align: center;
}
.news-name {
    position: absolute;
    bottom: -68px;
    background-color: #f8fcfe;
    border: 1px solid #d2d2d2;
    width: 263px;
    height: 71px;
    box-sizing: border-box;
    padding-left: 16px;
}
.news-header {
    color:  #717171;
    font-size: 17.99px;
    font-weight: 700;
    line-height: 40px;
    transition: 0.5s;
}
.news-author {
    display: inline-block;
    color:  #777777;
    font-size: 13.99px;
    font-weight: 300;
    padding-right: 20px;
    border-right: 1px solid #777777;
}
.news-coment {
    display: inline-block;
    font-family: Montserrat,sans-serif;
    color:  #777777;
    font-size: 13.99px;
    font-weight: 300;
    padding-left: 15px;
}
.about-theHam {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/SectionsBackground/section-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 104px;
    position: relative;
}
.sn-white {
    color:  #fff;
}
.review-item {
    display: none;
    justify-content: center;
    flex-direction: column;
    margin-top: 178px;
}
.review-item.active {
	display: flex;
}
.review-item-text {
    font-family: Montserrat, sans-serif;
    color:  #bbbbbb;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    position: relative;
}
.review-item-text::before {
    content: "";
    background-image: url(../img/autor-sec.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 44px;
    height: 30px;
    position: absolute;
    top: -65px;
    left: 557px;
}
.review-item-author {
    color:  #18cfab;
    font-size: 16px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    padding-top: 43px;
    text-transform: uppercase;
}
.review-author-posotion {
    color:  #bbbbbb;
    font-size: 13px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
}
.review-author-foto {
    width: 143px;
    height: 143px;
    border-radius: 143px;
    border: 3px solid #18cfab;
    margin-top: 37px;
    box-shadow: 0px 0px 0px 13px rgba(31, 218, 181, 0.2);
    align-self: center;
}
.author-list {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 69px;
}
.slide {
    display: inline-block;
    height: 33px;
    padding: 9px 11px 9px 11px;
    box-sizing: border-box;
    border: 1px solid #bcbdbd;
    margin-top: 14px;
    color: #bcbdbd;
}
.slide:hover {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #fff;
}
.slide.active-slide {
    background-color: #18cfab;
    border: 1px solid #18cfab;
    color: #fff;
}
/*
.fa-white {
    color: #bcbdbd;
}
*/
.review-author-mini-foto {
    width: 62px;
    height: 62px;
    border-radius: 58px;
    margin-left: 38px;
    box-shadow: 0px 0px 0px 4px rgba(31, 218, 181, 0.2);
    box-sizing: border-box;
    border: 1px solid transparent;
}
.review-author-mini-foto:hover {
    border: 1px solid #18cfab;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    top: -10px;
}
.review-author-mini-foto.active-foto {
    border: 1px solid #18cfab;
    box-sizing: border-box;
    position: relative;
    top: -10px;
}
.mr {
    margin-right: 38px;
}
.autor-mini-foto {
    width: 60px;
    height: 60px;
}
.footer {
    background-color: #22353f;
}
.footer-text {
    color:  #aeaeae;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    padding-top: 47px;
    padding-bottom: 47px;
}
.footer-link {
    color:  #18cfab;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    text-decoration: none;
}
