@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.main-page {
    background-image: url("../img/journey-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}
.container {
    width: 1210px;
    margin: 0 auto;
}
.clearfix {
	clear: both;
}
/* HEADER */
.header {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 65px;
}
.logo {
    font-family: Verdana;
    display: inline-block;
    color:  #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 19px;
    transition: 0.5s;
}
.logo:hover {
    color:  #3cb878;
}
.top-info{
    float:right;
    margin-top: 20px;
}
.icon-link {
    display: inline-block;
}
.sprite {
    background: url('../img/sprite-icon.png') no-repeat top left;
    display: inline-block;
}
.sprite.ic-caledar1 {
    display: inline-block;
    margin-right: 28px;
    width: 19px;
    height: 19px;
    background-position: 0px 0px;
    transition: 1s;
}
.sprite.ic-caledar1:hover {
    background-position: -135px 0px;
}
.sprite.ic-forum1 {
    display: inline-block;
    width: 28px;
    height: 20px;
    margin-right: 28px;
    background-position: -59px 0px;
}
.sprite.ic-forum1:hover {
    background-position: -97px 0px;
}
.sprite.ic-journey1 {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 28px;
    background-position: -29px 0px;
}
.sprite.ic-journey1:hover {
    background-position: -164px 0px;
}

.welcome-info {
    display: inline-block;
    position: relative;
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    padding-left: 24px;
    border-left: 1px solid #848484;
}
.login-or-sign {
    text-decoration: none;
    color: #3cb878;
}
.login-or-sign:hover {
    border-bottom: 0.5px solid #3cb878;
    color: #3cb878;
}
.form {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    width: 444px;
    box-sizing: border-box;
    padding-top: 29px;
    padding-bottom: 32px;
    padding-right: 60px;
    margin-bottom: 65px;

}
.form-name {
    margin-top: 29px;
}
.pic {
    display: inline-block;
    background-color: #3cb878;
    width: 18px;
    height: 18px;
}
.sign-up {
    display: inline-block;
    font-family: Verdana, sans-serif;
    color:  #434343;
    font-size: 20px;
    line-height: 21px;
    padding-left: 42px;
}
.log-in {
    display: inline-block;
    float: right;
    margin-top: 6px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color:  #3cb878;
    font-size: 14px;
}
.log-in:hover {
    border-bottom: 0.5px solid #3cb878;
    color: #3cb878;
}
/* BUTTONS */
.buttons {
    margin-left: 62px;
    margin-top: 15px;
    box-sizing: border-box;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  width: 152px;
  margin: 0.21em;
  padding-left: 46px;
  border: none;
  text-align: center;
  line-height: 46px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 9px;
  left: 0;
  width: 47px;
  height: 28px;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  font-family: Verdana, sans-serif;
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 10px 3px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
background-image: linear-gradient(#5B7BD5, #4864B1);
}
/* Google */
.loginBtn--google {
  font-family: Verdana, sans-serif;
  background: #DD4B39;
}
.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}
/* OR */
.text-or {
    display: inline-block;
    margin-left: 62px;
    margin-top: 22px;
}
.text-or::before {
    content:"";
    display: block;
    float: left;
    width: 135px;
    height: 1px;
    border: none;
    margin-right: 18px;
    margin-top: 11px;
    background-color: #eaeaea;
}
.text-or-item {
    display: block;
    float: left;
    font-family: Verdana, sans-serif;
    color:  #848484;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 18px;
}
.text-or::after {
    content:"";
    display: block;
    float: left;
    width: 135px;
    height: 1px;
    border: none;
    margin-left: 18px;
    margin-top: 11px;
    background-color: #eaeaea;
}
/* FORM */
.reg-form {
    margin-left: 62px;
}
.registration-feeld {
    display: block;
    margin-bottom: 9px;
    border: 0.5px solid #ebebeb;
    border-radius: 5px;
    font-family: Verdana, sans-serif;
    color: #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    width: 322px;
    padding: 17px 18px;
    box-sizing: border-box;

}
::-webkit-input-placeholder {
    color:#bebebe;
}
::-moz-placeholder {
    color:#bebebe;
}
:-ms-input-placeholder {
    color:#bebebe;
}

.registration-feeld:focus {
    box-shadow: 0px 0px 5px #848484;
    border: 0.5px solid #fff;
    outline:none;
}
.checkbox {

    display:inline-block;
    margin-top: 10px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 25px;
    cursor: pointer;
    font-size: 22px;
}
.checkbox input {
    display: none;
	position: absolute;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #bebebe;
}
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox input:checked ~ .checkmark {
  background-color: #fff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 6px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid #3cb878;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.form-check-text {
    display: inline-block;
    font-family: Verdana, sans-serif;
    color:  #434343;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.form-check-link {
    font-family: Verdana, sans-serif;
    color:  #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: none;
}
.form-check-link:hover {
    border-bottom: 0.5px solid #3cb878;
}
.registr-btn {
    background-color: #39ba78;
    font-family: Verdana, sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    padding: 17px 0;
    width: 322px;
    border: 0;
    border-radius: 5px;
    transition: 0.5s;
}
.registr-btn:hover {
    background-color: #2f9b65;
}


