.container {
	    width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
}
    .top-menu {
        width: 100vw;
        height: 30px;
        background-color: #151313;
    }
    .top-menu-text {
        font-family: Roboto, sans-serif;
        color: #fff;
        font-size: 14px;
    }
    .main-header {
	    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/BG_one.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
        padding-top: 60px;
}
    .attorney-header {
	    font-family: Roboto, sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;

}
    .attorney-info {
	    font-family: Roboto, sans-serif;
        font-size: 20px;
        width: 600px;
        color: #fff;
        margin-top: 50px;
        text-align: center;
        font-weight: 300;
}
