.container {
    width: 1280px;
    margin: 0 auto;
}
.top-menu {
    padding-top: 32px;
    padding-bottom: 35px;
}
.top-menu-item {
    display: inline-block;
    text-align: center;
}
.top-menu-link {
    font-family: Roboto-Black, sans-serif;
    font-size: 18pt;
    color: #16a085;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 70px;
}
.header-img {
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    background-color: #edecec;
}
.content-header {
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 59px;
    padding-bottom: 34px;
}
.content-text {
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    padding: 0px 113px 41px 113px;
}
.btn {
    font-family: GothamRounded, sans-serif;
    background-color: #16a085;
    color:  #ffffff;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    padding: 23px 45px 18px 43px;
    margin: 0px 561px 94px 527px;

}
.copywright {
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    padding: 47px 113px 45px 768px;
}


