
.main-page {
    background-color: #374765;
    width: 100%;
    height: 100vh;
}

.container {
    width: 1192px;
    margin: 0 auto;
}
.box-shad-right {
    box-shadow: -20px 0 10px -20px #9b9b9b inset, 0px 0 0px 0px #9b9b9b inset;
}
.box-shad-left {
    box-shadow: 20px 0 10px -20px #9b9b9b inset, 0px 0 0px 0px #9b9b9b inset;
}
.box-shad-red {
    box-shadow: 20px 0 10px -20px #761a21 inset, 0px 0 0px 0px #df3a46 inset;
}
.box-shad-green {
    box-shadow: 20px 0 10px -20px #114a47 inset, 0px 0 0px 0px #114a47 inset;
}
.fa-icon {
    color: #484848;
    color:  #848484;
    font-size: 24px;
    line-height: 28px;
    padding-right: 12px;
}
/* TABLE */
.prising-table {
    display: inline-block;
    margin: 24px 30px 32px 24px;
    background-color: #fff;
}
/* TABLE HEADER */
.table-head-row-name {
    height: 70px;
}
.first-row-standart {
    background-color: #89c331;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "Arimo", sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
}
.first-row-ultimate {
    background-color: #f04a56;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "Arimo", sans-serif;
    color:  #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
}
.first-row-premium {
    background-color: #20807c;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: "Arimo", sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
}
.table-head-row-price {
    height: 86px;
    background-color: #fafafa;
}
.main-choose-first-row {
    background-color: #fafafa;
    font-family: "Arimo", sans-serif;
    color:  #484848;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: bottom;
}
.main-choose {
    font-family: "Arimo", sans-serif;
    color:  #484848;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    vertical-align: top;
}
.price-text {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: 33px;
    font-family: "Arimo", sans-serif;
    color:  #484848;
    font-size: 60px;
    font-weight: 700;
}
.price-text::before {
    content: "Per Month";
    font-family: "Arimo", sans-serif;
    display: block;
    position: absolute;
    color:  #484848;
    right: -110px;
    bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.price-text::after {
    content: ".99";
    position: absolute;
    display: block;
    right: -35px;
    bottom: 30px;
    font-family: "Arimo", sans-serif;
    color:  #484848;
    font-size: 24px;
}

/*END TABLE HEADER */

/* TABLE BODY */
.table-rou {
    height: 69px;
    background-color: #f2f2f2;
}
.table-rou:nth-child(even) {
    height: 69px;
    background-color: #e4e4e4;
}
.table-cell-name {
    width: 310px;
    text-align: center;
    vertical-align: middle;
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}
.table-cell-data {
    width: 277px;
    text-align: center;
    vertical-align: middle;
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}
/* END TABLE BODY */

/* TABLE FOOTER */
.footer-row {
    height: 110px;
}
.footer-button {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: "Arimo", sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.btn-contact {
    display: inline-block;
    position: absolute;
    width: 192px;
    margin-top: 32px;
    margin-left: 59px;
    box-sizing: border-box;
    padding: 18px 44px;
    background-color: #484848;
    transition: 0.5s;
}
.btn-contact::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 192px;
    height: 7px;
    background-color: #404040;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-contact:hover {
    background-color: #404040;
}
.btn-price {
    display: inline-block;
    position: absolute;
    width: 192px;
    margin-top: 32px;
    margin-left: 43px;
    box-sizing: border-box;
    padding: 18px 57px;
    transition: 0.5s;
}
.btn-price::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 192px;
    height: 7px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-standart {
    background-color: #89c331;
}
.btn-standart::before {
    background-color: #79b027;
}
.btn-standart:hover {
    background-color: #79b027;
}
.btn-ultimate {
    background-color: #f04a56;
}
.btn-ultimate::before {
    background-color: #df3a46;
}
.btn-ultimate:hover {
    background-color: #df3a46;
}
.btn-premium {
    background-color: #20807c;
}
.btn-premium::before {
    background-color: #16736f;
}
.btn-premium:hover {
    background-color: #16736f;
}
