.main-page {
    background-color: black;
    height: 100vh;
}
.container {
    position: absolute;
    width: 18em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(25deg);
    font-family: Roboto, sans-serif;
	color: #ebe310;
    font-weight: 900px;
}
.text {
    position: absolute;
    top: 100%;
    animation: scroll 30s ease-out infinite;
}
@keyframes scroll {
    0% { top: 90%; }
    100% { top: -20%; }
}
.shadov-box {
    background-image: linear-gradient(to bottom, #000, rgba(225,225,225,0));
    height: 50vh;
    width: 100%;
    position: absolute;
    top: 0px;
}
h1 {
    font-size: 70px;
    line-height: 70px;
    text-align: center;
    padding-bottom: 20px;
}
h2 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}
p {
    font-size: 40px;
    text-align: justify;
    padding-bottom: 20px;
}
