.container {
    width: 1280px;
    margin: 0 auto;
}
.clearfix {
    clear:both;
}
.text-selected {
    color: #4bcaff;
}
.logo-link {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 80px;
    font-weight: 400;
    display: inline-block;
    padding-top: 61px;
    padding-bottom: 45px;
    color: black;
    text-decoration: none;
}
/* MENU TOP */
.menu-top-list {
    background-color: #35444f;
}
.menu-top-item {
    background-color: #35444f;
    display: inline-block;
}
.menu-top-link {
    font-family: 'Myriad Pro', sans-serif;
    display: inline-block;
    text-decoration: none;
    color:  #fff;
    border-left: 1px solid #35444f;
    border-right: 1px solid #35444f;
    font-size: 24px;
    padding: 26px 26px;
}
.menu-top-link:hover {
    background-color: #222f3a;
    padding: 26px 26px;
    box-sizing: border-box;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
/* MENU LEFT */
.menu-left {
    float: left;
    width: 344px;
    margin-top: 51px;
    border: 1px solid black;
}
.menu-left-item {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 27px;
}
.menu-left-link {
    display: inline-block;
    width: 301px;
    color:  #485863;
    text-decoration: none;
    padding: 30px 0px 30px 43px;
}
.menu-left-link:hover {
    color: black;
    background-color: #c6c7c7;
    width: 270px;
    padding-left: 73px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
/* CONTENT */
.content {
    width: 885px;
    float: left;
    margin-top: 51px;
    margin-left: 49px;
}
.conyent-img-place {
    margin: 0 auto;
    background-color: #a80c0c;
}

.content-img-position {
    width: 885px;
    height: 529px;
    border: 1px solid black;
    margin-bottom: 50px;
}
.content-img-place {
    margin: 0 auto;
    padding-top: 75px;
    width: 320px;
    top: 50%;
}
.content-img {
    width: 320px;
    height: 381px;
    float: left;
}
.content-text {
    font-family: 'Myriad Pro', sans-serif;
    color:  #2c2b2b;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 30px;
}
/*FOOTER*/
.footer {
    background-color: #b2afaf;
}
.menu-footer {
    float: left;
    height: 69px;
    margin-left: 44px;
}
.menu-footer-link {
    font-family: 'Myriad Pro', sans-serif;
    color:  #0c1927;
    font-size: 28px;
    float: left;
    text-decoration: none;
    margin-top: 22px;
    margin-right: 20px;
}
.menu-footer-link:hover {
	color: #3181a6;
    border-bottom: 1px solid #3181a6;
}
.copyright-info {
    font-family: 'Myriad Pro', sans-serif;
    color:  #010000;
    font-size: 24px;
    padding-top: 25px;
    padding-right: 34px;
    float: right;
}

