        html,
        body {
            width: 100vw;
            padding: 0;
            min-height: 100vh;
            min-width: 320px;
        }

        .main-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            width: calc(100vw - 20px);
            background-color: #373c3f;
        }

        @media (min-width: 1200px) {
            .logo {
                /*height: 100px;*/
                width: 100px;
            }

            .main-header-text {
                display: none;
            }

            .nav-btn {
                display: none;
            }

            .drop-menu {
                width: 100;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .drop-menu-item {
                font-family: sans-serif;
                text-decoration: none;
                color: white;
                padding: 10px;
                font-size: 30px;
            }
        }

        @media (max-width: 1199px) {
            .logo {
                display: none;
            }

            .main-header-text {
                font-family: sans-serif;
                padding: 10px 0 10px 20px;
                font-size: 12px;
                color: rgba(255, 255, 255, 255);
            }

            .nav-btn {
                padding: 10px;
                /*height: 100%;*/
                color: white;
            }

            .drop-menu {
                display: none;
                position: absolute;
                width: 60vw;
                top: 37px;
                right: 0;
            }

            .drop-menu-item {
                display: block;
                padding: 10px;
                border: 1px solid grey;
                background-color: aliceblue;
                text-decoration: none;
            }
        }
