.container {
    width: 1100px;
    margin: 0 auto;
}
span {
    color: #f1ad1d;
    text-transform: uppercase;
}
.h2-paragraf-name {
    font-family: Montserrat, sans-serif;
    color:  #333;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 113px;
}
.h2-white {
    font-family: Montserrat, sans-serif;
    color:  #fff;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding-top: 150px;
}
.h2-white::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    border: none;
    background-color: #f1ad1d;
    margin: 52px auto 0;

}
.paragraf-text {
    font-family: Lato, sans-serif;
    color:  #4d4943;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding-top: 35px;
}
.paragraf-text::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    border: none;
    background-color: #f1ad1d;
    margin: 52px auto 0;
}

.feature {
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.partners {
    display: flex;
    padding-top: 58px;
    padding-bottom: 114px;
    justify-content: center;
    align-items: center;
}
.partners-logo {
    margin-left: 54px;
}
.trust-us {
    height: 372px;
}
.our-bird {
    background-image: url(../img/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 485px;
}
.paragraf-text-white{
    font-family: OpenSans,sans-serif;
    color:  #ffffff;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    padding-top: 60px;
}
.paragraf-text-white::after {
    content: "";
    display: block;
    width: 281px;
    height: 3px;
    border: none;
    background-color: #fff;
    margin: 52px auto 0;
}
.text-link {
    text-align: center;
    text-decoration: none;
    font-family: OpenSans,sans-serif;
    color:  #f1ad1d;
    font-size: 18px;
    line-height: 30px;
}
.we-share {
    height: 380px;
}
