@font-face {
    font-family: "Arimo";
        src: url('../fonts/Arimo-Regular-webfont.eot');
    src: url('../fonts/Arimo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arimo-Regular-webfont.woff2') format('woff2'),
         url('../fonts/Arimo-Regular-webfont.woff') format('woff'),
         url('../fonts/Arimo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Arimo-Regular-webfont.svg#arimoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Arimo";
        src: url('../fonts/Arimo-Bold-webfont.eot');
    src: url('../fonts/Arimo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arimo-Bold-webfont.woff2') format('woff2'),
         url('../fonts/Arimo-Bold-webfont.woff') format('woff'),
         url('../fonts/Arimo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Arimo-Bold-webfont.svg#arimobold') format('svg');
    font-weight: bold;
    font-style: normal;
}
.main-page {
    background-color: #374765;
    width: 100%;
    height: 100vh;
}
.container {
    width: 1197px;
    margin: 0 auto;
}
.box-shad-bottom {
    box-shadow: 0 -20px 10px -20px #9b9b9b inset, 0px 0 0px 0px #9b9b9b inset;
}
.box-shad-red {
    box-shadow: 0 -20px 10px -20px #761a21 inset, 0px 0 0px 0px #df3a46 inset;
}
.box-shad-green {
    box-shadow: 0 -20px 10px -20px #114a47 inset, 0px 0 0px 0px #114a47 inset;
}
.fa-icon {
    color:  #848484;
    font-size: 24px;
    line-height: 28px;
}
.table-cell {
    width: 157px;
    text-align: center;
    vertical-align: middle;
    background-color: #e3e3e3;
    font-family: "Arimo", sans-serif;
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.table-cell:nth-child(odd) {
    background-color: #f2f2f2;
}
/* TABLE */
.pricing-table {
    display: inline-block;
    margin: 24px 30px 32px 24px;
    background-color: #fff;
}
/* TABLE HEADER */
.table-head-row-name {
    height: 112px;
}
.first-cell-name {
    width: 198px;
    vertical-align: middle;
    background-color: #fafafa;
}
.table-cell-header {
    width: 157px;
    text-align: center;
    vertical-align: middle;
    background-color: #e3e3e3;
    font-family: "Arimo", sans-serif;
    color:  #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}
.table-cell-header:nth-child(odd) {
    background-color: #f2f2f2;
}
.first-cell{
    width: 198px;
}
.main-choose-first-row {
    font-family: "Arimo", sans-serif;
    color:  #484848;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.main-choose {
    font-family: "Arimo", sans-serif;
    color:  #484848;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}
/*END TABLE HEADER */

/* TABLE BODY */
.table-row {
    height: 166px;
}
.table-cell-name {
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
}
.table-cell-data {
    width: 277px;
    text-align: center;
    vertical-align: middle;
    font-family: "Arimo", sans-serif;
    color: #484848;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
}
.first-cell-text {
    font-family: "Arimo", sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 18px;
}
.first-cell-standart {
    background-color: #89c331;
}
.first-cell-ultimate {
    background-color: #f04a56;
}
.first-cell-premium {
    background-color: #20807c;
}
.price-text {
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: 21px;
    font-family: "Arimo", sans-serif;
    color:  #fff;
    font-size: 36px;
    font-weight: 700;
}
.price-text::before {
    content: "Per Month";
    font-family: "Arimo", sans-serif;
    display: block;
    position: absolute;
    color:  #fff;
    right: -125px;
    bottom: 9px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.price-text::after {
    content: ".99";
    position: absolute;
    display: block;
    right: -35px;
    bottom: 15px;
    font-family: "Arimo", sans-serif;
    color:  #fff;
    font-size: 18px;
}

.btn-contact {
    display: block;
    position: absolute;
    margin-left: 27px;
    margin-top: 65px;
    width: 144px;
    box-sizing: border-box;
    padding: 14px 33px;
    background-color: #484848;
    transition: 0.5s;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: "Arimo", sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
}
.btn-contact::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 144px;
    height: 7px;
    background-color: #404040;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn-contact:hover {
    background-color: #404040;
}
/* END TABLE BODY */
