.main-page {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container {
    width: 1064px;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mr68 {
    margin-right: 68px;
}
.btn-container {
    display: flex;
    justify-content: flex-end;
    width: 1064px;
    margin-top: 20px;
}
.btn-change {
    display: inline-block;
    padding: 15px;
    background-color: #f26522;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 12px;

}
/* HEADER */
.header {
    width: 1064px;
    padding-top: 25px;
    padding-bottom: 45px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}
.logo-link {
    text-decoration: none;
    color:  #fff;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
}
.logo-link:hover {
    color:  #f26522;
}
.logo-link:hover .logo-icon{
    background-image: url(../img/logo-milan-hover.png);
}
.logo-icon {
    width: 46px;
    height: 44px;
    background-repeat: no-repeat;
    background-image: url(../img/logo-milan.png);
    padding-right: 15px;
}
.logo-text1 {
    font-size: 29px;
}
.logo-text2 {
    font-size: 18px;
}
.contacts {
    position: relative;
    font-family: 'Verdana', sans-serif;
    color:  #ffffff;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
}

/*TOURS LIST */
.tours {
    width: 1064px;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tour-list {
    width: 308px;
}
.tour-item {
    text-decoration: none;
    position: relative;
}
.tour-img {
    border: 2px solid transparent;
    border-image: linear-gradient(to top, transparent 0%, #fff 100%);
    border-image-slice: 1;
    box-shadow: 0px 17px 24px 0px #000000;
}
.tour-list:hover .tour-img-deteils {
    opacity: 1;
}
.tour-list:hover .tour-img-name {
    color: #f26522;
}
.tour-img-deteils {
    width: 312px;
    height: 63px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 3px;
    background-color: #f26522;
    color: #fff;
    opacity: 0;
    transition: 1s;
}

.tour-price {
    display: inline-block;
    text-decoration: none;
    font-family: Verdana;
    font-size: 20px;
    font-weight: 400;
    padding-left: 21px;
}
.tour-price::before {
    content: "from";
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 7px;
}
.tour-deteils {
    display: inline-block;
    padding-top: 35px;
    padding-right: 18px;
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.tour-deteils::after {
    content: "\003E";
    padding-left: 15px;
}
.tour-img-name {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 58px;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    transition: 1s;
}

/* FOOTER */
.footer {
    padding-bottom: 20px;
}
.footer-info {
    justify-content: center;
    font-family: 'Verdana',sans-serif;
    color:  #ffffff;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}


